In [1]:
#import tools necessary to complete project
import pandas as pd
from sqlalchemy import create_engine
import pymongo
import numpy as np

In [2]:
#read CSV file and bring into pandas
liquor_csv = "chicago_liquor_licenses1.csv"
liquor_license_df = pd.read_csv(liquor_csv)
liquor_license_df.head()

,ID,LICENSE ID,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ADDRESS,CITY,STATE,ZIP CODE,...,LICENSE TERM START DATE,LICENSE TERM EXPIRATION DATE,LICENSE APPROVED FOR ISSUANCE,DATE ISSUED,LICENSE STATUS,LICENSE STATUS CHANGE DATE,SSA,LATITUDE,LONGITUDE,LOCATION
0,2550239-20170804,"2,550,239",309467,1,CORK SPECIAL EVENTS COMPANY,"CORKY'S CATERING, INC.",1421 W FULLERTON,ADDISON,IL,60101.0,...,8/4/17,6/15/19,8/4/17,8/4/17,AAI,NaN,NaN,41.925095,-87.66425,"(41.92509496896589, -87.66425014572287)"
1,2550220-20180616,"2,594,440",407124,1,"COUNTRY HOUSE RESTAURANT of ALSIP, INC.",COUNTRY HOUSE,5400 W 127TH ST 1,ALSIP,IL,60807.0,...,6/16/18,6/15/20,5/30/18,5/31/18,AAI,NaN,NaN,NaN,NaN,NaN
2,2550238-20170804,"2,550,238",307009,1,"BUONA CATERING, L.L.C.",BEYOND EVENTS,6833 W ROOSEVELT,BERWYN,IL,60402.0,...,8/4/17,3/15/19,8/4/17,8/4/17,AAI,NaN,NaN,NaN,NaN,NaN
3,2550234-20180916,"2,613,206",336442,1,D'MASTI CATERING INC.,D'MASTI CATERING,11915 S WESTERN AVE 1,BLUE ISLAND,IL,60406.0,...,9/16/18,9/15/20,9/11/18,9/12/18,AAI,NaN,NaN,NaN,NaN,NaN
4,2550215-20181016,"2,620,387",401984,2,RAVEN'S PLACE LLC,RAVEN'S PLACE CATERING,13031 WESTERN AVE 1,BLUE ISLAND,IL,60406.0,...,10/16/18,9/15/20,10/16/18,10/16/18,AAI,NaN,NaN,NaN,NaN,NaN

In [3]:
#rename rows to lower case
liquor_license_df = liquor_license_df.rename(
    columns=str.lower
)
liquor_license_df.head()

,id,license id,account number,site number,legal name,doing business as name,address,city,state,zip code,...,license term start date,license term expiration date,license approved for issuance,date issued,license status,license status change date,ssa,latitude,longitude,location
0,2550239-20170804,"2,550,239",309467,1,CORK SPECIAL EVENTS COMPANY,"CORKY'S CATERING, INC.",1421 W FULLERTON,ADDISON,IL,60101.0,...,8/4/17,6/15/19,8/4/17,8/4/17,AAI,NaN,NaN,41.925095,-87.66425,"(41.92509496896589, -87.66425014572287)"
1,2550220-20180616,"2,594,440",407124,1,"COUNTRY HOUSE RESTAURANT of ALSIP, INC.",COUNTRY HOUSE,5400 W 127TH ST 1,ALSIP,IL,60807.0,...,6/16/18,6/15/20,5/30/18,5/31/18,AAI,NaN,NaN,NaN,NaN,NaN
2,2550238-20170804,"2,550,238",307009,1,"BUONA CATERING, L.L.C.",BEYOND EVENTS,6833 W ROOSEVELT,BERWYN,IL,60402.0,...,8/4/17,3/15/19,8/4/17,8/4/17,AAI,NaN,NaN,NaN,NaN,NaN
3,2550234-20180916,"2,613,206",336442,1,D'MASTI CATERING INC.,D'MASTI CATERING,11915 S WESTERN AVE 1,BLUE ISLAND,IL,60406.0,...,9/16/18,9/15/20,9/11/18,9/12/18,AAI,NaN,NaN,NaN,NaN,NaN
4,2550215-20181016,"2,620,387",401984,2,RAVEN'S PLACE LLC,RAVEN'S PLACE CATERING,13031 WESTERN AVE 1,BLUE ISLAND,IL,60406.0,...,10/16/18,9/15/20,10/16/18,10/16/18,AAI,NaN,NaN,NaN,NaN,NaN

In [4]:
#remove rows of locations that are not in the city of Chicago
liquor_license_df = liquor_license_df[liquor_license_df['city']=='CHICAGO']
liquor_license_df.head()

,id,license id,account number,site number,legal name,doing business as name,address,city,state,zip code,...,license term start date,license term expiration date,license approved for issuance,date issued,license status,license status change date,ssa,latitude,longitude,location
5,2550102-20170803,"2,550,102",408343,1,VOICE OF THE CITY,VOICE OF THE CITY,3429 W DIVERSEY AVE 2ND/REAR 209,CHICAGO,IL,60647.0,...,8/3/17,3/15/19,8/3/17,8/3/17,AAI,NaN,NaN,41.931848,-87.713427,"(41.931847783035664, -87.7134266263389)"
6,2423997-20170619,"2,423,997",401191,1,MAGO RC LLC,MAGO GRILL & CANTINA,1010 S DELANO WEST CT 1 G131,CHICAGO,IL,60605.0,...,6/19/17,7/15/19,6/19/17,6/19/17,AAI,NaN,NaN,41.869464,-87.632854,"(41.86946441129826, -87.63285448774887)"
7,1800741-20170316,"2,507,270",11400,1,FORTNIGHTLY OF CHICAGO,THE FORTNIGHTLY OF CHICAGO,120 E BELLEVUE PL,CHICAGO,IL,60611.0,...,3/16/17,3/15/19,2/1/17,2/2/17,AAI,NaN,NaN,41.901720,-87.624868,"(41.90172048907756, -87.62486815626899)"
8,1739261-20170316,"2,509,086",307041,1,MCCLURG CORPORATION,7- ELEVEN,600 N MCCLURG CT,CHICAGO,IL,60611.0,...,3/16/17,3/15/19,2/3/17,2/6/17,AAI,NaN,NaN,41.892679,-87.617864,"(41.89267922007347, -87.61786371164598)"
9,1226890-20170316,"2,508,287",201786,1,3343 CLARK CORP.,LOWCOUNTRY,3343 N CLARK ST BSMT & 1ST,CHICAGO,IL,60657.0,...,3/16/17,3/15/19,2/6/17,2/7/17,AAI,NaN,17.0,41.942869,-87.652863,"(41.942869318828365, -87.65286280377227)"

In [5]:
#create conncetion to MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [6]:
#create restaurantsDB mongo database
#create the liquor license collection
db = client.restaurantsDB
collection = db.liquor

In [7]:
#remove NaN and filling with empty string
liquor_license_df = liquor_license_df.fillna('')
liquor_license_df.head()

,id,license id,account number,site number,legal name,doing business as name,address,city,state,zip code,...,license term start date,license term expiration date,license approved for issuance,date issued,license status,license status change date,ssa,latitude,longitude,location
5,2550102-20170803,"2,550,102",408343,1,VOICE OF THE CITY,VOICE OF THE CITY,3429 W DIVERSEY AVE 2ND/REAR 209,CHICAGO,IL,60647,...,8/3/17,3/15/19,8/3/17,8/3/17,AAI,,,41.9318,-87.7134,"(41.931847783035664, -87.7134266263389)"
6,2423997-20170619,"2,423,997",401191,1,MAGO RC LLC,MAGO GRILL & CANTINA,1010 S DELANO WEST CT 1 G131,CHICAGO,IL,60605,...,6/19/17,7/15/19,6/19/17,6/19/17,AAI,,,41.8695,-87.6329,"(41.86946441129826, -87.63285448774887)"
7,1800741-20170316,"2,507,270",11400,1,FORTNIGHTLY OF CHICAGO,THE FORTNIGHTLY OF CHICAGO,120 E BELLEVUE PL,CHICAGO,IL,60611,...,3/16/17,3/15/19,2/1/17,2/2/17,AAI,,,41.9017,-87.6249,"(41.90172048907756, -87.62486815626899)"
8,1739261-20170316,"2,509,086",307041,1,MCCLURG CORPORATION,7- ELEVEN,600 N MCCLURG CT,CHICAGO,IL,60611,...,3/16/17,3/15/19,2/3/17,2/6/17,AAI,,,41.8927,-87.6179,"(41.89267922007347, -87.61786371164598)"
9,1226890-20170316,"2,508,287",201786,1,3343 CLARK CORP.,LOWCOUNTRY,3343 N CLARK ST BSMT & 1ST,CHICAGO,IL,60657,...,3/16/17,3/15/19,2/6/17,2/7/17,AAI,,17,41.9429,-87.6529,"(41.942869318828365, -87.65286280377227)"

In [8]:
#put liquor_license_df in list of dictionaries then insert list of dictionaries into collection
db.collection.insert_many(liquor_license_df.to_dict('records'))

In [9]:
#print each liquor license and corresponding data across row
liquor_licenses = db.liquor.find()
for liquor_license in liquor_licenses:
    print(liquor_license)